[REPORTS]
output=colorized
disable=R
enable=useless-suppression
reports=no

[MISCELLANEOUS]
notes=FIXME,XXX
string-quote=single-avoid-escape

[DESIGN]
# Override default regex to allow long method names in tests.
method-rgx=([a-z_][a-z0-9_]{3,40}|test_[a-z0-9_]+)$
